/**** ACCESSIBILITY ****/
.skip-links{
	font-size: 1rem;
    left: 50%;
    margin-left: -7em;
    position: absolute;
    width: 14em;
    z-index: 9999;
}
.skip-link, .skip-link:focus, .skip-link:visited {
    border-radius: 0 0 3px 3px;
	background-color: #212121;
    border: 2px solid #f1f1f1;
    border-top: 0;
    box-shadow: 0 0 6px rgb(0 0 0 / 50%);
    color: #f1f1f1;
    display: inline-block;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    outline: 0;
    padding-bottom: .25em;
    text-align: center;
    text-decoration: none;
    width: 14em;
    z-index: 9999;
}

/*** DEFAULT QLIK MASHUP CSS ***/
.flex-container {
	display: flex;
	flex-wrap: wrap;
	margin: 0 45px 45px 0;
}
.qvplaceholder, .qvobject {
	flex: 1 1 auto;
	height: 300px;
	min-width: 400px;
	margin: 45px 0 0 45px;
}
#popup {
	background-color: #c3534b;
	color: #FFFFFF;
	position: fixed;
	max-width: 250px;
	padding: 10px;
	margin: 10px;
	bottom: 0;
	right: 0;
	display: none;
	border-radius: 5px;
	z-index: 6;
	font-family: sans-serif;
}
.close {
	cursor: pointer;
	background: 0 0;
	border: 0;
	float: right;
	font-size: 21px;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: .2;
	position: absolute;
	right: 9px;
	top: 7px;
}
.close:hover {
	opacity: .5;
}
#popupText {
	margin-right: 23px;
}

/*FOR DISTINCTIVE CARD EFFECTS ON THE CHART OBJECTS */
.qv-inner-object { 
	box-shadow: 6px 6px 12px 0 rgba(0, 0, 0, 0.2), -8px -8px 16px 0 rgba(255, 255, 255, 0.55);
	/*border-radius: 10px;*/
	border-radius: 4px;
	padding: 2px;
}/*
.qv-object .qv-inner-object{
	padding:5px;
}*/
/* HAVE TO REMOVE SOME STYLING ON CONTAINER OBJECTS */
.qs-container .qsc-tab-row, 
.qs-container .qsc-item-wrapper,
.qs-container .qsc-item-wrapper .qv-inner-object{
	border: none;
	box-shadow: none;
	border-radius: 0;
}
/*
 * Qlik Object Styling
 */
/*Selections bar changes */
.qv-panel-current-selections .qv-subtoolbar-button.toggle-button, .touch-on .qv-panel-current-selections .qv-subtoolbar-button.toggle-button {
	display: none;/* will hide both search button on left and selections button on right */
}
.bright.qv-panel-current-selections .buttons {
	background-color: white; /* undo, redo, clear all */
}
.bright.qv-panel-current-selections .buttons.border-bottom {
    border-bottom: 1px solid white; /* bottom border of undo, redo, clear all */
}
.bright.qv-panel-current-selections .wrap {
	border-bottom: none; /* selections bar bottom */
}
.bright.qv-panel-current-selections .buttons-end.border-left {
    border-left: 1px solid #f2f2f2; /*very end of selections bar; needed bc removed Selections button */
}
/* Mashup charts */

/* */
.card-padding .qv-object-wrapper .qv-inner-object {
	padding: 10px 10px 5px;
}
/* Custom settings for Qlik Text & Image boxes */
.qv-object-text-image .qv-media-tool-html {
	line-height: 250px;
	padding: 1px 15px;
}
.qv-object-text-image .qv-media-tool-html [dir="ltr"] {
	/*position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);*/
	line-height: 1.5;
	display: inline-block;
	vertical-align: middle;	
}

#appTour {
	margin-bottom: 1em;
}
.EPAatWork {
	display:inline-block;
	margin-top:3px;
	margin-right:3px;
}
@media only screen and (max-width: 768px) {
	.break-left {
		text-align: left;
	}
}
/*Vizlib Advanced Text Object */
div.ql-editor {
	padding:0;
	overflow-x: hidden !important;
}
.popover[class*="tour-"] {
	max-width:280px !important;
}
/*Container and Qlik Object Changes*/
.qv-object .qv-footer-wrapper {
	background-color: transparent !important;
}
.qs-container .qsc-tab-row.hide-border, .qv-client.qv-card .qs-container .qsc-tab-row {
	margin-bottom: 7px;
}
.qv-object-container button{
	color: #595959;
}
.qs-container .qsc-tab-row .lui-tab:focus:not(:hover) {
	border-left-color: transparent;
	border-top-color: transparent;
	border-right-color: transparent;
}
.lui-popover-container[contentEditable=true]:focus, .lui-popover-container[href]:focus, .lui-popover-container[tabindex]:focus, .lui-popover-container iframe:focus,
.qv-filterpane-collapsed[contentEditable=true]:focus, .qv-filterpane-collapsed[href]:focus, .qv-filterpane-collapsed[tabindex]:focus, .qv-filterpane-collapsed iframe:focus,
.lui-tabset [contentEditable=true]:focus, .lui-tabset [href]:focus, .lui-tabset [tabindex]:focus, .lui-tabset iframe:focus {
	outline:none;
}
/* Fix for Qlik filter pane buttons getting cut off */
.sel-toolbar-list li {
	box-sizing: content-box;
}
/* Fix for current selections bar padding conflict with EPA core css */
.qv-pager ul.list {
	padding-left:0;
}
/* Fix for filter pane focus border getting cut off */
.qv-filterpane .qv-filterpane-column {
	border: 2px solid transparent;
}
.ui .small .statistic .label{white-space: normal;}